@using BandApp.Web.Models
@model BandApp.Web.Models.Band
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/@@picocss/pico@@latest/css/pico.classless.min.css">
    <title>Världens bästa band</title>
</head>
<body>
    <h1>@Model.Name</h1>
    <ul>
        @Model.Description
    </ul>
<img src="@Url.Content(Model.Picture)" alt="IMAGES" />

</body>
</html>
