@using BandApp.Web.Models
@model Band[]
<!DOCTYPE html>
    <html>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/@@picocss/pico@@latest/css/pico.classless.min.css">
        <title>Världens bästa band</title>
    </head>
    <body>
        <h1>Världens bästa band</h1>
        <ul>
            @foreach (var band in Model)
            {
            <li><a href="@Url.Action("Details", "Bands", new {id = band.Id})">@band.Name</a></li>
            }
        </ul>
        
    
    </body>
    </html>
